<link rel="stylesheet" type="text/css" href="styles.css">
<svg>
	<circle r="20" cx="50" cy="50" fill="none" stroke="green" stroke-width="2"/>
	<circle class="dashes" r="40" cx="50" cy="50" fill="none" stroke="green" stroke-width="7" stroke-dasharray="2 29" stroke-dashoffset="2"/>
</svg>
